body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding-top: 7vw; /* 🧱 même hauteur que .navbar + espacement */
  box-sizing: border-box;
}

.navbar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9vw; /* adapte à la hauteur de ta navbar */
  background-color: #fff1e8; /* ou la couleur exacte du fond / navbar */
  z-index: 999; /* juste en dessous de la navbar qui est à 1000 */
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.08);
}

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo-floating {
  position: fixed;
  top: 2vw;
  left: 3vw;
  height: 6vw;
  width: auto;
  z-index: 1001;
  object-fit: contain;
}

.about-button-floating {
  position: fixed;
  top: 3vw;
  right: 3vw;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
  background-color: #fff1e8;
}
