.Users-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.users-loading-error {
  color: red;
}

.login-link {
  color: rgb(163, 61, 61);
  text-decoration: underline;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}